extends homehead

block content
	include homebodyheader
	include homebodymiddle
		
	#footer-container
		#footer-holder(style = "text-align: center").well-dn.span12
			h2 eVisit Details
			#left-side(style = "text-align: center").well-dn.span4	
				h3 Appointment Details	
				hr
				label Date 										
				input#appointmentdate-tf(type="text", value=udata.appointmentdate, name="appointmentdate", id='appointmentdate-tf', disabled="").span4.disinput.required
				label Start Time
				input#appointmenttime-tf(type="text", value=udata.appointmentstart, name="appointmentstarttime", id='appointmentstarttime-tf', disabled="").span4.disinput.required
				label End Time
				input#appointmenttime-tf(type="text", value=udata.appointmentend, name="appointmentendtime", id='appointmentendtime-tf', disabled="").span4.disinput.required
				Label Patient Names
				input#patient1name-tf(type="text", value=udata.patient1name, name="patient1name", id='patient1name-tf', disabled="").span4.disinput.required
				input#patient2name-tf(type="text", value=udata.patient2name, name="patient2name", id='patient2name-tf', disabled="").span4.disinput.required
				input#patient3name-tf(type="text", value=udata.patient3name, name="patient3name", id='patient3name-tf', disabled="").span4.disinput.required
				input#patient4name-tf(type="text", value=udata.patient4name, disabled="", name="patient4name", id='patient4name-tf').span4.disinput.required


			#right-side(style = "text-align: center; float: right").well-dn.span4
				h3 Doctor Details
				hr
				label Doctor Name 										
				input#doctorname-tf(type="text", value=udata.doctoruser, disabled="", name="doctorname", id='doctorname-tf').span4.disinput.required
				label Doctor Photo
				input#doctorphoto-tf(type="text", name="doctorphoto", id='doctorphoto-tf').span4.required

					

		include modals/alert
		include modals/confirm


block scripts
	script(src='/vendor/jquery.min.js')
	script(src='/vendor/jquery.form.js')
	script(src='/vendor/bootstrap-modal.js')
	script(src='/vendor/bootstrap-transition.js')
	script(src='/js/views/booking.js')
	script(src='/js/controllers/bookingController.js')